@model ebis.Models.kontakty

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>kontakty</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.jmeno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jmeno)
            @Html.ValidationMessageFor(model => model.jmeno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prijmeni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prijmeni)
            @Html.ValidationMessageFor(model => model.prijmeni)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefon)
            @Html.ValidationMessageFor(model => model.telefon)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}