@model ebis.Models.kontakty

@{
    ViewBag.Title = "Pøidat kontakt";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.jmeno).Label().LabelText("Jméno")
            @f.ControlGroup().TextBoxFor(m => m.prijmeni).Label().LabelText("Pøíjmení")
            @f.ControlGroup().TextBoxFor(m => m.email).Label().LabelText("E-mail")
            @f.ControlGroup().TextBoxFor(m => m.telefon).Label().LabelText("Telefon")
            <p>
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Pøidat"))
            </p>
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Zpìt na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}