@model ebis.Models.kontakty

@{
    ViewBag.Title = "Detaily kontaktu";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>kontakty</legend>

    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.jmeno)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Pøíjmení</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.prijmeni)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.email)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Telefon</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.telefon)</div>
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Upravit kontakt", "Edit", new { id = Model.pk_id }) |
    @Html.ActionLink("Zpìt na seznam", "Index")
</p>