@model ebis.Models.kontakty

@{
    ViewBag.Title = "Detaily kontaktu";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>kontakty</legend>

    <div class="display-label">
         Jméno
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         Pøíjmení
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prijmeni)
    </div>

    <div class="display-label">
         E-mail
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         Telefon
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefon)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit kontakt", "Edit", new { id = Model.pk_id }) |
    @Html.ActionLink("Zpìt na seznam", "Index")
</p>