<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
               
        <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css"/>
        <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/bootstrap.min.js"></script>
               
        <link rel="stylesheet" href="~/Content/css/bootstrap-multiselect.css" type="text/css"/>
        <script type="text/javascript" src="~/Content/scripts/bootstrap-multiselect.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Ensemble Baroque", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (Request.IsAuthenticated) {
                        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
                        <nav>
                            <ul id="menu">
                                <li class="@(controllerName == "Interpret" ? "active" : "")">@Html.ActionLink("Umělci", "Index", "Interpret")</li>
                                <li class="@(controllerName == "Event" ? "active" : "")">@Html.ActionLink("Akce", "Index", "Event")</li>
                                <li class="@(controllerName == "Contact" ? "active" : "")">@Html.ActionLink("Kontakty", "Index", "Contact")</li>
                            </ul>    
                        </nav>
                        <nav>
                            <ul id="submenu">
                                <li class="@(controllerName == "Instrument" ? "active" : "")">@Html.ActionLink("Nástroje", "Index", "Instrument")</li>
                                <li class="@(controllerName == "Art" ? "active" : "")">@Html.ActionLink("Tituly", "Index", "Art")</li>
                                <li class="@(controllerName == "Location" ? "active" : "")">@Html.ActionLink("Lokace", "Index", "Location")</li>
                                <li class="@(controllerName == "Contract" ? "active" : "")">@Html.ActionLink("Smlouvy", "Index", "Contract")</li>
                                <li class="@(controllerName == "Finance" ? "active" : "")">@Html.ActionLink("Položky nákladů", "Index", "Finance")</li>
                                <li class="@(controllerName == "ProdList" ? "active" : "")">@Html.ActionLink("Položky produkčních listů", "Index", "ProdList")</li>
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - EBis</p>
                </div>
            </div>
        </footer>

       @RenderSection("scripts", required: false)
    </body>
</html>
