<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
               
        <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css"/>
        <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/datepicker-cs.js"></script>
        <script type="text/javascript" src="~/Content/scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/spin.min.js"></script>
        <script src="~/Content/scripts/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/Content/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            
            var opts = {
              lines: 13 // The number of lines to draw
            , length: 28 // The length of each line
            , width: 14 // The line thickness
            , radius: 42 // The radius of the inner circle
            , scale: 0.5 // Scales overall size of the spinner
            , corners: 1 // Corner roundness (0..1)
            , color: '#000' // #rgb or #rrggbb or array of colors
            , opacity: 0.25 // Opacity of the lines
            , rotate: 0 // The rotation offset
            , direction: 1 // 1: clockwise, -1: counterclockwise
            , speed: 1 // Rounds per second
            , trail: 60 // Afterglow percentage
            , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
           // , zIndex: 1 // The z-index (defaults to 2000000000)
            , className: 'spinner' // The CSS class to assign to the spinner
            , top: '50%' // Top position relative to parent
            , left: '50%' // Left position relative to parent
            , shadow: false // Whether to render a shadow
            , hwaccel: false // Whether to use hardware acceleration
            , position: 'fixed' // Element positioning
            }

        </script>

        <link rel="stylesheet" href="~/Content/css/bootstrap-multiselect.css" type="text/css"/>
        <script type="text/javascript" src="~/Content/scripts/bootstrap-multiselect.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Ensemble Baroque", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (Request.IsAuthenticated) {
                        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
                        <nav>
                            <ul id="menu">
                                <li class="@(controllerName == "Interpret" ? "active" : "")">@Html.ActionLink("Umělci", "Index", "Interpret")</li>
                                <li class="@(controllerName == "Event" ? "active" : "")">@Html.ActionLink("Akce", "Index", "Event")</li>
                                <li class="@(controllerName == "Contact" ? "active" : "")">@Html.ActionLink("Kontakty", "Index", "Contact")</li>
                            </ul>    
                        </nav>
                        <nav>
                            <ul id="submenu">
                                <li class="@(controllerName == "Instrument" ? "active" : "")">@Html.ActionLink("Nástroje", "Index", "Instrument")</li>
                                <li class="@(controllerName == "Art" ? "active" : "")">@Html.ActionLink("Názvy akcí", "Index", "Art")</li>
                                <li class="@(controllerName == "Location" ? "active" : "")">@Html.ActionLink("Lokace", "Index", "Location")</li>
                                <li class="@(controllerName == "Contract" ? "active" : "")">@Html.ActionLink("Smlouvy", "Index", "Contract")</li>
                                <li class="@(controllerName == "Finance" ? "active" : "")">@Html.ActionLink("Položky nákladů", "Index", "Finance")</li>
                                <li class="@(controllerName == "ProdList" ? "active" : "")">@Html.ActionLink("Položky produkčních listů", "Index", "ProdList")</li>
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            <div id="msgs"></div>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - EBis</p>
                </div>
            </div>
        </footer>

       @RenderSection("scripts", required: false)

    </body>
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $.datepicker.setDefaults($.datepicker.regional['cs']);
           // showDatePicker();

        });


        $(document).ready(function () {
            $(".alert").fadeTo(3000, 500).slideUp(500, function () {
                $(".alert").alert('close');
            });
        });
     
        $( document ).on( "focus", "input.datepicker:not(.hasDatepicker)", function() {
            $( this ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+100",
            });
        });

        function createUUID() {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] = "-";

            var uuid = s.join("");
            return uuid;
        }

        function addAlert(message,type) {
            var id = createUUID();
            var JQueryId = "#" + id;
              
            $('#msgs').append('<div style="display:none;" class="alert '+type+'" id="' + id + '">' +
                '<button type="button" class="close" data-dismiss="alert">' +
                '×</button>' + message + '</div>');

            $(JQueryId).fadeIn();
            window.setTimeout(function () {

                // closing the popup
                $(JQueryId).fadeTo(300, 0.5).slideUp(2000, function () {
                    $(JQueryId).alert('close');
                });


            }, 6000);
        }

        function confirmDelete() {
            return confirm('Opravdu chcete smazat tento záznam?');
        }
     </script>
</html>
