@model ebis.Models.naklady

@{
    ViewBag.Title = "Přidat náklady";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>naklady</legend>
        <span>(Typ = 0 - Honorářové náklady, 1 - Materiální náklady, 2 - Nemateriální náklady, 3 - Produkční náklady, 4 - Pronájmy, 5 - PR)</span>
        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.jmeno).Label().LabelText("Název")
            @f.ControlGroup().TextBoxFor(m => m.typ).Label().LabelText("Typ")
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Přidat"))
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
