@model ebis.Models.naklady

@{
    ViewBag.Title = "Detaily nákladů";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>naklady</legend>

    <div class="display-label">
         Jméno
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         Typ
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.typ)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit náklady", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>
