@model ebis.Models.naklady

@{
    ViewBag.Title = "Detaily nákladů";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>naklady</legend>
    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.jmeno)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Typ</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.typ)</div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit náklady", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>
