@model ebis.Models.naklady

@{
    ViewBag.Title = "Upravit náklady";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>naklady</legend>

        @Html.HiddenFor(model => model.pk_id)

        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.jmeno).Label().LabelText("Název")
            @f.ControlGroup().TextBoxFor(m => m.typ).Label().LabelText("Typ")
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Upravit"))
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
