@model ebis.Models.lokace

@{
    ViewBag.Title = "Detaily lokace";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>lokace</legend>

    <div class="display-label">
         Jméno
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         Adresa
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adresa)
    </div>

    <div class="display-label">
         GPS
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gps)
    </div>

    <div class="display-label">
         Odkaz
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit lokaci", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>
