@model ebis.Models.lokace

@{
    ViewBag.Title = "Upravit lokaci";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>lokace</legend>

        @Html.HiddenFor(model => model.pk_id)

        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.jmeno).Label().LabelText("Jméno")
            @f.ControlGroup().TextBoxFor(m => m.adresa).Label().LabelText("Adresa")
            @f.ControlGroup().TextBoxFor(m => m.gps).Label().LabelText("GPS")
            @f.ControlGroup().TextBoxFor(m => m.link).Label().LabelText("Odkaz")
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Upravit"))
        }

    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
