@model ebis.Models.fermany

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>fermany</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.akce.jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.akce.jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lokace.jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lokace.jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.orchestr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orchestr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sbor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sbor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.solisti)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.solisti)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Zpět na detail akce", "Details", "Event", new RouteValueDictionary(new { id = @Model.akce_id }), null)
    </p>
}
