@model ebis.Models.InviteModel

@{
    ViewBag.Title = "Pozvat umělce na akci";
    WebGrid grid = new WebGrid(@Model.m_osoby);
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{ 
    @grid.GetHtml(columns:
        grid.Columns
        (
            grid.Column("id", "ID"),
            grid.Column("jmeno", "Jméno   " + Html.SortDirection(ref grid, "jmeno")),
            grid.Column("prijmeni", "Příjmení"),
            grid.Column("telefon", "Telefon"),
            grid.Column("email", "E-mail"),
            grid.Column("mesto", "Město"),
            grid.Column("narodnost", "Národnost")
            @*grid.Column("nastroje_id", header: "le", format: @<text> @Html.DropDownList("", new SelectList(@Model.m_osoby.Single().nastroje))</text>, style: "ds", canSort: false)*@
            @*grid.Column(format: @Html.CheckBox(item.id))*@
        ))
    <input type ="submit" value ="Send" />
}
<fieldset>
<legend>
Send Email
</legend>
@using (Html.BeginForm())
{
@Html.ValidationSummary()
<p>From: </p>
<p>@Html.TextBox("em_mail.From")</p>
 <p>To: </p>
<p>@Html.TextBox("em_mail.To")</p>
<p>Subject: </p>
<p>@Html.TextBox("em_mail.Subject")</p>
 <p>Body: </p>
<p>@Html.TextBox("em_mail.Body")</p>
<input type ="submit" value ="Send" />
} 
</fieldset>