@model ebis.Models.ubytovani

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ubytovani</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.osoby_id, "osoby")
        </div>
        <div class="editor-field">
            @Html.DropDownList("osoby_id", String.Empty)
            @Html.ValidationMessageFor(model => model.osoby_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lokace_id, "lokace")
        </div>
        <div class="editor-field">
            @Html.DropDownList("lokace_id", String.Empty)
            @Html.ValidationMessageFor(model => model.lokace_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.akce_id, "akce")
        </div>
        <div class="editor-field">
            @Html.DropDownList("akce_id", String.Empty)
            @Html.ValidationMessageFor(model => model.akce_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pokoj)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pokoj)
            @Html.ValidationMessageFor(model => model.pokoj)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cena1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cena1)
            @Html.ValidationMessageFor(model => model.cena1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cena2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cena2)
            @Html.ValidationMessageFor(model => model.cena2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cena3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cena3)
            @Html.ValidationMessageFor(model => model.cena3)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na detail akce", "Details", "Event", new RouteValueDictionary(new { id = @ViewBag.akce_id_link }), null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
