@model ebis.Models.smlouvy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>smlouvy</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.spolecnost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.spolecnost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sidlo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sidlo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zastoupeni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zastoupeni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bytem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bytem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cislo_uctu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cislo_uctu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datum_narozeni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum_narozeni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datum_spolecnost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum_spolecnost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datum_osoba)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum_osoba)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.osoby.jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.osoby.jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.text_smlouvy.text1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.text_smlouvy.text1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
