@model ebis.Models.produkcni_listy

@{
    ViewBag.Title = "Vytvořit produkční listy";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>produkcni_listy</legend>
        <span>(Typ = 0 - Přípravná fáze (před projektem), 1 - Výkonná fáze (při projektu), 2 - Post produkční fáze)</span>
        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.jmeno_aktivity).Label().LabelText("Název aktivity")
            @f.ControlGroup().TextBoxFor(m => m.typ).Label().LabelText("Typ")
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Vytvořit"))
        }

    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
