@model ebis.Models.produkcni_listy

@{
    ViewBag.Title = "Upravit produkční listy";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>produkcni_listy</legend>

        @Html.HiddenFor(model => model.pk_id)

        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.jmeno_aktivity).Label().LabelText("Název aktivity")
            @f.ControlGroup().TextBoxFor(m => m.typ).Label().LabelText("Typ")
            <p>
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Vytvořit"))
            </p>
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
