@model ebis.Models.osoby_akce

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>osoby_akce</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.poznamka)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.poznamka)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.honorar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.honorar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.doprava)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.doprava)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.srazkova_dan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.srazkova_dan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.vyplaceno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.vyplaceno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stav)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stav)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
