@model ebis.Models.nastroje

@{
    ViewBag.Title = "Vytvořit nástroj";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>nastroje</legend>
        <span>(Typ = 0 - Orchestr, 1 - Sbor, 2 - Solisti)</span>
        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.jmeno).Label().LabelText("Název")
            @f.ControlGroup().TextBoxFor(m => m.typ).Label().LabelText("Typ")
            @f.ControlGroup().TextBoxFor(m => m.zkratka).Label().LabelText("Zkratka")
            <p>
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Přidat"))
            </p>
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
