@model ebis.Models.nastroje

@{
    ViewBag.Title = "Detaily nástroje";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>nastroje</legend>
    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.jmeno)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">IČ/DIČ</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.typ)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Seznam umělců</label>
        <div class="col-md-10">
               @foreach(var interpret in @Model.osoby)
                   {
                      @String.Format("{0} {1} {2}\n", interpret.jmeno, interpret.prijmeni, interpret.id)<br/>
                   }
               
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit nástroj", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>
