@model ebis.Models.akce_naklady

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>akce_naklady</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.cena)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cena)
            @Html.ValidationMessageFor(model => model.cena)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na detail akce", "Details", "Event", new RouteValueDictionary(new { id = @ViewBag.akce_id_link }), null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
