@model ebis.Models.titul

@{
    ViewBag.Title = "Detaily titulu";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>titul</legend>

    <div class="form-group row">
        <label class="col-md-2 control-label">Název</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.nazev)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Autor</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.autor)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Poznámka</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.poznamka)</div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit titul", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>
