@model ebis.Models.titul

@{
    ViewBag.Title = "Detaily titulu";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>titul</legend>

    <div class="display-label">
         Název
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazev)
    </div>

    <div class="display-label">
         Autor
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.autor)
    </div>

    <div class="display-label">
         Poznámka
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.poznamka)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit titul", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>
