@model ebis.Models.titul

@{
    ViewBag.Title = "Upravit titul";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>titul</legend>

        @Html.HiddenFor(model => model.pk_id)

        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.nazev).Label().LabelText("Název")
            @f.ControlGroup().TextBoxFor(m => m.autor).Label().LabelText("Autor")
            @f.ControlGroup().TextBoxFor(m => m.poznamka).Label().LabelText("Poznámka")
            <p>
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Upravit"))
            </p>
        }

    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
