@model ebis.Models.InterpretInstrumentModel
@{
    ViewBag.Title = "Upravit umělce"; 
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#instrumentListBox').multiselect();
    });
</script>

<h2>@ViewBag.Title</h2>
@{
    Alert a = new Alert();
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Interpret.pk_id)
    @Html.HiddenFor(model => model.Interpret.id)
    
    <fieldset>
        <legend>osoby</legend>
        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.Interpret.id).Label().LabelText("ID")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.jmeno).Label().LabelText("Jméno")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.prijmeni).Label().LabelText("Příjmení")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.telefon).Label().LabelText("Telefon")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.email).Label().LabelText("E-mail")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.adresa).Label().LabelText("Adresa")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.mesto).Label().LabelText("Město")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.psc).Label().LabelText("PSC")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.cislo_uctu).Label().LabelText("Číslo účtu")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.narodnost).Label().LabelText("Národnost")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.ic_dic).Label().LabelText("IČ/DIČ")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.datum_narozeni).Label().LabelText("Datum narození")
            @f.ControlGroup().TextBoxFor(m => m.Interpret.misto_narozeni).Label().LabelText("Místo narození")
            @f.ControlGroup().ListBoxFor(model => model.SelectedItemIds, new MultiSelectList(Model.AvailableItems, "pk_id", "zkratka", Model.SelectedItemIds)).Id("instrumentListBox").Label().LabelText("Nástroje")
            @f.ControlGroup().TextAreaFor(m => m.Interpret.poznamka).Label().LabelText("Poznámka")
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Upravit"))
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Zpět na seznam", "Index")
</div>
@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
