@model ebis.Models.akce

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>akce</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.popis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.popis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titul.nazev)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titul.nazev)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cas)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
