@*@model dynamic*@
@model ebis.Models.EventModel
@using ebis.Helpers

@{
    ViewBag.Title = "Details";
    WebGrid fermany_grid = new WebGrid(@Model.em_akce.fermany, canSort: false, canPage: false);
    WebGrid osoby_akce0_grid = new WebGrid(@Model.em_osoby_akce0, canSort: false, canPage: false);
    WebGrid osoby_akce1_grid = new WebGrid(@Model.em_osoby_akce1, canSort: false, canPage: false);
    WebGrid osoby_akce2_grid = new WebGrid(@Model.em_osoby_akce2, canSort: false, canPage: false);
    WebGrid ubytovani_grid = new WebGrid(@Model.em_akce.ubytovani, canSort: false);
    WebGrid produkcni_listy0_grid = new WebGrid(@Model.em_akce_produkcni_listy0, canSort: false, canPage: false);
    WebGrid produkcni_listy1_grid = new WebGrid(@Model.em_akce_produkcni_listy1, canSort: false, canPage: false);
    WebGrid produkcni_listy2_grid = new WebGrid(@Model.em_akce_produkcni_listy2, canSort: false, canPage: false);
    WebGrid naklady0_grid = new WebGrid(@Model.em_akce_naklady0, canSort: false, canPage: false);
    WebGrid naklady1_grid = new WebGrid(@Model.em_akce_naklady1, canSort: false, canPage: false);
    WebGrid naklady2_grid = new WebGrid(@Model.em_akce_naklady2, canSort: false, canPage: false);
    WebGrid naklady3_grid = new WebGrid(@Model.em_akce_naklady3, canSort: false, canPage: false);
    WebGrid naklady4_grid = new WebGrid(@Model.em_akce_naklady4, canSort: false, canPage: false);
    WebGrid naklady5_grid = new WebGrid(@Model.em_akce_naklady5, canSort: false, canPage: false);
}

<h2>@Model.em_akce.titul.nazev</h2>

<fieldset>
    <legend>akce</legend>
    <input type="hidden" value="@Model.id" id="akceId" />
    <div class="display-field">
        <b>Popis: </b>@Model.em_akce.popis
    </div>
    @*<div class="display-field">
        <b>Titul: </b>@Model.em_akce.titul.autor - @Model.em_akce.titul.nazev
    </div>*@
    <div class="display-field">
        <b>Program: </b>@Model.em_akce.program
    </div>
    @{if (Model.em_akce.datum != null)
    {
        <div class="display-field">
            <b>Datum: </b>
            <text>@Html.ValueFor(model => model.em_akce.datum, "{0:dd.MM.yyyy}")</text>            
        </div>
    }
    }
    <div class="display-field">
        <b>Čas: </b>@Model.em_akce.cas
    </div>

    <div class="display-field">
        <b>Poznámka: </b>@Model.em_akce.poznamka
    </div>
    <div class="display-field">
        <b>Zvláštní podmínky: </b>@Model.em_akce.podminky
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editovat", "Edit", new { id = Model.em_akce.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>

@using (var a = Html.Bootstrap().Begin(new Tabs("myTab")))
{
    @a.Tab("Harmonogram")
    @a.Tab("Umělci")
    @a.Tab("Ubytování")
    @a.Tab("Produkce")
    @a.Tab("Náklady")
      
    
    using (a.BeginPanel())
    {
       <div id="scheduleDiv" data-url="@Url.Action("ScheduleGridPartial", "Schedule")"></div>
    }
    using (a.BeginPanel())
    {
        <div id="inviteDiv" data-url="@Url.Action("GridPartial", "Interpret")"></div>
    }
    using (a.BeginPanel())
    {
        <div id="accommodationDiv" data-url="@Url.Action("AccommodationGridPartial", "Accommodation")"></div>
    }
    using (a.BeginPanel())
    {
        <div id="productionListDiv" data-url="@Url.Action("GridPartial", "Interpret")"></div>
    }
    using (a.BeginPanel())
    {
        <div id="financeDiv" data-url="@Url.Action("FinanceGridPartial", "FinanceItem")"></div>
    }
}


 <script type="text/javascript" >
    $(function () {

        //var target = document.getElementById('partialDiv')
        //var spinner = new Spinner(opts).spin(target);
       // var partialDiv = $("#partialDiv");
        //$.get("Url.Action("GridPartial", "Interpret")", function (data) { $('#partialDiv').replaceWith(data); });

        reloadScheduleGrid();
        /*inviteGrid();*/
        accomodationGrid();
        /*productListGrid();
        */financeGrid();


        $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');

    });

    function reloadScheduleGrid() {
        var target = document.getElementById('scheduleDiv')
        var spinner = new Spinner(opts).spin(target);
        
        $.ajax({
             url: '@Url.Action("ScheduleGridPartial", "Schedule")',
             type: 'GET',
             cache: false,
             data: {akceId: $("#akceId").val()},
             async: true,
             success: function(result){
                $("#scheduleDiv").html(result);
                
             }
         });
    }

    function inviteGrid() { //orchestr sbor solisti
        var target = document.getElementById('scheduleDiv')
        var spinner = new Spinner(opts).spin(target);

        $.ajax({
             url: "@(Url.Action("ScheduleGridPartial", "Interpret"))",
             type: 'GET',
             cache: false,
             async: true,
             success: function(result){
                $("#scheduleDiv").html(result);
             }
         });
    }

    function accomodationGrid() {
        var target = document.getElementById('accommodationDiv')
        var spinner = new Spinner(opts).spin(target);

        $.ajax({
             url: "@(Url.Action("AccommodationGridPartial", "Accommodation"))",
             type: 'GET',
             cache: false,
             data: {akceId: $("#akceId").val()},
             async: true,
             success: function(result){
                $("#accommodationDiv").html(result);
             }
         });
    }

    function productListGrid() {
        var target = document.getElementById('scheduleDiv')
        var spinner = new Spinner(opts).spin(target);

        $.ajax({
             url: "@(Url.Action("ScheduleGridPartial", "Interpret"))",
             type: 'GET',
             cache: false,
             async: true,
             success: function(result){
                $("#scheduleDiv").html(result);
             }
         });
    }

    function financeGrid() {
        var target = document.getElementById('financeDiv')
        var spinner = new Spinner(opts).spin(target);

        $.ajax({
             url: "@(Url.Action("FinanceGridPartial", "FinanceItem"))",
             type: 'GET',
             cache: false,
             data: {akceId: $("#akceId").val()},
             async: true,
             success: function(result){
                $("#financeDiv").html(result);
             }
         });
    }
  </script>