@*@model dynamic*@
@model ebis.Models.EventModel
@using ebis.Helpers

@{
    ViewBag.Title = "Details";
    WebGrid fermany_grid = new WebGrid(@Model.em_akce.fermany);
    WebGrid osoby_akce0_grid = new WebGrid(@Model.em_osoby_akce0);
    WebGrid osoby_akce1_grid = new WebGrid(@Model.em_osoby_akce1);
    WebGrid osoby_akce2_grid = new WebGrid(@Model.em_osoby_akce2);
    WebGrid ubytovani_grid = new WebGrid(@Model.em_akce.ubytovani);
    WebGrid produkcni_listy0_grid = new WebGrid(@Model.em_akce_produkcni_listy0);
    WebGrid produkcni_listy1_grid = new WebGrid(@Model.em_akce_produkcni_listy1);
    WebGrid produkcni_listy2_grid = new WebGrid(@Model.em_akce_produkcni_listy2);
    WebGrid naklady0_grid = new WebGrid(@Model.em_akce_naklady0);
    WebGrid naklady1_grid = new WebGrid(@Model.em_akce_naklady1);
    WebGrid naklady2_grid = new WebGrid(@Model.em_akce_naklady2);
    WebGrid naklady3_grid = new WebGrid(@Model.em_akce_naklady3);
    WebGrid naklady4_grid = new WebGrid(@Model.em_akce_naklady4);
    WebGrid naklady5_grid = new WebGrid(@Model.em_akce_naklady5);
}

<h2>@Model.em_akce.jmeno</h2>

<fieldset>
    <legend>akce</legend>

    <div class="display-field">
        <b>Popis: </b>@Model.em_akce.popis
    </div>
    <div class="display-field">
        <b>Titul: </b>@Model.em_akce.titul.autor - @Model.em_akce.titul.nazev
    </div>
    <div class="display-field">
        <b>Datum: </b>@Model.em_akce.datum
    </div>
    <div class="display-field">
        <b>Čas: </b>@Model.em_akce.cas
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.em_akce.pk_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<h3>Harmonogram</h3>
<p>
    @Html.ActionLink("Přidat novou položku", "Create", "Schedule")
</p>

@fermany_grid.GetHtml(columns:
    fermany_grid.Columns
    (
        fermany_grid.Column("datum", "Datum"),
        fermany_grid.Column("cas", "Čas"),
        fermany_grid.Column("orchestr", "Orchestr"),
        fermany_grid.Column("sbor", "Sbor"),
        fermany_grid.Column("solisti", "Solisti"),
        fermany_grid.Column("lokace.jmeno", "Lokace", @<div><a href="../../Location/Details/@item.lokace.pk_id">@item.lokace.jmeno</a></div>),
        fermany_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "Schedule", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
        Html.ActionLink("Smazat", "Delete", "Schedule", new RouteValueDictionary(new { id = item.pk_id }), null)))
))

<h3>Pozvaní umělci</h3>
<p>
    @Html.ActionLink("Oslovit nové umělce", "Index", "Invite")
</p>
<h3>Orchestr</h3>
@osoby_akce0_grid.GetHtml(columns:
    osoby_akce0_grid.Columns
    (
        osoby_akce0_grid.Column("osoby.id", "ID"),
        osoby_akce0_grid.Column("osoby.jmeno", "Jméno", @<div><a href="../../Interpret/Details/@item.osoby.pk_id">@item.osoby.jmeno @item.osoby.prijmeni</a></div>),
        osoby_akce0_grid.Column("nastroje.jmeno", "Nástroj"),
        osoby_akce0_grid.Column("honorar", "Honorář"),
        osoby_akce0_grid.Column("doprava", "Doprava"),
        osoby_akce0_grid.Column("srazkova_dan", "Srážková Daň"),
        osoby_akce0_grid.Column("vyplaceno", "Vyplaceno"),
        osoby_akce0_grid.Column("poznamka", "Poznámka")
        @*osoby_akce_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Detaily", "Details", new { id = item.pk_id }) + " | " +
                Html.ActionLink("Upravit", "Edit", new { id = item.pk_id }) + " | " +
                Html.ActionLink("Smazat", "Delete", new { id = item.pk_id })))*@ @*opravit*@
))

<h3>Sbor</h3>
@osoby_akce1_grid.GetHtml(columns:
    osoby_akce1_grid.Columns
    (
        osoby_akce1_grid.Column("osoby.id", "ID"),
        osoby_akce1_grid.Column("osoby.jmeno", "Jméno", @<div><a href="../../Interpret/Details/@item.osoby.pk_id">@item.osoby.jmeno @item.osoby.prijmeni</a></div>),
        osoby_akce1_grid.Column("nastroje.jmeno", "Nástroj"),
        osoby_akce1_grid.Column("honorar", "Honorář"),
        osoby_akce1_grid.Column("doprava", "Doprava"),
        osoby_akce1_grid.Column("srazkova_dan", "Srážková Daň"),
        osoby_akce1_grid.Column("vyplaceno", "Vyplaceno"),
        osoby_akce1_grid.Column("poznamka", "Poznámka")
        @*osoby_akce_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Detaily", "Details", new { id = item.pk_id }) + " | " +
                Html.ActionLink("Upravit", "Edit", new { id = item.pk_id }) + " | " +
                Html.ActionLink("Smazat", "Delete", new { id = item.pk_id })))*@ @*opravit*@
))

<h3>Solisti</h3>
@osoby_akce2_grid.GetHtml(columns:
    osoby_akce2_grid.Columns
    (
        osoby_akce2_grid.Column("osoby.id", "ID"),
        osoby_akce2_grid.Column("osoby.jmeno", "Jméno", @<div><a href="../../Interpret/Details/@item.osoby.pk_id">@item.osoby.jmeno @item.osoby.prijmeni</a></div>),
        osoby_akce2_grid.Column("nastroje.jmeno", "Nástroj"),
        osoby_akce2_grid.Column("honorar", "Honorář"),
        osoby_akce2_grid.Column("doprava", "Doprava"),
        osoby_akce2_grid.Column("srazkova_dan", "Srážková Daň"),
        osoby_akce2_grid.Column("vyplaceno", "Vyplaceno"),
        osoby_akce2_grid.Column("poznamka", "Poznámka")
        @*osoby_akce_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Detaily", "Details", new { id = item.pk_id }) + " | " +
                Html.ActionLink("Upravit", "Edit", new { id = item.pk_id }) + " | " +
                Html.ActionLink("Smazat", "Delete", new { id = item.pk_id })))*@ @*opravit*@
))

<h3>Ubytování pro účastníky</h3>
<p>
    @Html.ActionLink("Přidat novou položku", "Create", "Accommodation")
</p>
@ubytovani_grid.GetHtml(columns:
    ubytovani_grid.Columns
    (
            ubytovani_grid.Column("osoby.id", "ID"),
            ubytovani_grid.Column("osoby.jmeno", "Jméno", @<div><a href="../../Interpret/Details/@item.osoby.pk_id">@item.osoby.jmeno @item.osoby.prijmeni</a></div>),
            ubytovani_grid.Column("lokace.jmeno", "Lokace", @<div><a href="../../Location/Details/@item.lokace.pk_id">@item.lokace.jmeno</a></div>),
            ubytovani_grid.Column("pokoj", "Pokoj"),
            ubytovani_grid.Column("cena1", "z/na cena"),
            ubytovani_grid.Column("cena2", "z/na cena"),
            ubytovani_grid.Column("cena3", "z/na cena"),
            ubytovani_grid.Column("cena1", "Celkem", @<div>@Html.SumValues((int)@item.cena1, (int)@item.cena2, (int)@item.cena3)</div>),
            ubytovani_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "Accommodation", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "Accommodation", new RouteValueDictionary(new { id = item.pk_id }), null)))
))

<h3>Produkce</h3>
<p>
    @Html.ActionLink("Přidat novou položku", "Create", "ProdListItem")
</p>
<h3>Přípravná fáze - před projektem</h3>
@produkcni_listy0_grid.GetHtml(columns:
    produkcni_listy0_grid.Columns
    (
            produkcni_listy0_grid.Column("produkcni_listy.jmeno_aktivity", "Úkol/aktivita"),
            produkcni_listy0_grid.Column("poznamka", "Poznámka"),
            produkcni_listy0_grid.Column("termin", "Termín"),
            produkcni_listy0_grid.Column("status", "Status"),
            produkcni_listy0_grid.Column("zodpovedna_osoba", "Kdo")@*,
            produkcni_listy0_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "ProdListItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "ProdListItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>Výkonná fáze - při projektu</h3>
@produkcni_listy1_grid.GetHtml(columns:
    produkcni_listy1_grid.Columns
    (
            produkcni_listy1_grid.Column("produkcni_listy.jmeno_aktivity", "Úkol/aktivita"),
            produkcni_listy1_grid.Column("poznamka", "Poznámka"),
            produkcni_listy1_grid.Column("termin", "Termín"),
            produkcni_listy1_grid.Column("status", "Status"),
            produkcni_listy1_grid.Column("zodpovedna_osoba", "Kdo")@*,
            produkcni_listy1_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "ProdListItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "ProdListItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>Post produkční fáze</h3>
@produkcni_listy2_grid.GetHtml(columns:
    produkcni_listy2_grid.Columns
    (
            produkcni_listy2_grid.Column("produkcni_listy.jmeno_aktivity", "Úkol/aktivita"),
            produkcni_listy2_grid.Column("poznamka", "Poznámka"),
            produkcni_listy2_grid.Column("termin", "Termín"),
            produkcni_listy2_grid.Column("status", "Status"),
            produkcni_listy2_grid.Column("zodpovedna_osoba", "Kdo")@*,
            produkcni_listy2_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "ProdListItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "ProdListItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>Náklady</h3>
<p>
    @Html.ActionLink("Přidat novou položku", "Create", "FinanceItem")
</p>
<h3>Honorářové náklady</h3>
@naklady0_grid.GetHtml(columns:
        naklady0_grid.Columns
    (
            naklady0_grid.Column("naklady.jmeno", "Náklad"),
            naklady0_grid.Column("cena", "Částka")@*,
            naklady0_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>materiální náklady</h3>
@naklady1_grid.GetHtml(columns:
        naklady1_grid.Columns
    (
            naklady1_grid.Column("naklady.jmeno", "Náklad"),
            naklady1_grid.Column("cena", "Částka")@*,
            naklady1_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>nemateriální náklady</h3>
@naklady2_grid.GetHtml(columns:
        naklady2_grid.Columns
    (
            naklady2_grid.Column("naklady.jmeno", "Náklad"),
            naklady2_grid.Column("cena", "Částka")@*,
            naklady2_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>produkční náklady</h3>
@naklady3_grid.GetHtml(columns:
        naklady3_grid.Columns
    (
            naklady3_grid.Column("naklady.jmeno", "Náklad"),
            naklady3_grid.Column("cena", "Částka")@*,
            naklady3_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>pronájmy</h3>
@naklady4_grid.GetHtml(columns:
        naklady4_grid.Columns
    (
            naklady4_grid.Column("naklady.jmeno", "Náklad"),
            naklady4_grid.Column("cena", "Částka")@*,
            naklady4_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))

<h3>PR</h3>
@naklady5_grid.GetHtml(columns:
        naklady0_grid.Columns
    (
            naklady5_grid.Column("naklady.jmeno", "Náklad"),
            naklady5_grid.Column("cena", "Částka")@*,
            naklady5_grid.Column(format: (item) => new HtmlString(Html.ActionLink("Upravit", "Edit", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null) + " | " +
            Html.ActionLink("Smazat", "Delete", "FinanceItem", new RouteValueDictionary(new { id = item.pk_id }), null)))*@
))
