@model ebis.Models.akce

@{
    ViewBag.Title = "Upravit akci";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>akce</legend>

        @Html.HiddenFor(model => model.pk_id)

        <div class="editor-label">
            Jméno
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jmeno)
            @Html.ValidationMessageFor(model => model.jmeno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.popis)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.popis)
            @Html.ValidationMessageFor(model => model.popis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.titul_id, "titul")
        </div>
        <div class="editor-field">
            @Html.DropDownList("titul_id", String.Empty)
            @Html.ValidationMessageFor(model => model.titul_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.datum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.datum)
            @Html.ValidationMessageFor(model => model.datum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cas)
            @Html.ValidationMessageFor(model => model.cas)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
